<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Aspen Service-->
    <add key="ASPEN 1" value="\\ASPEN1" />
    <add key="ASPEN 2" value="\\ASPEN2" />
    <add key="ASPEN 3" value="\\ASPEN3" />
    <add key="ASPEN 4" value="\\ASPEN4" />
    <add key="Cedar" value="\\ASPEN4" />
    <add key="SuperCloud" value="\\ASPEN4" />
    <!--Borrego Computers-->
    <add key="Borrego 1" value="192.168.130.11" />
    <add key="Borrego 2" value="192.168.130.12" />
    <add key="Borrego 3" value="192.168.130.13" />
    <add key="Borrego 4" value="192.168.130.14" />
    <!--Moby Computers QAMK-->
    <add key="Moby 1" value="192.168.130.111" />
    <add key="Moby 2" value="192.168.130.121" />
    <add key="Moby 3" value="192.168.130.131" />
    <add key="Moby 4" value="192.168.130.141" />
    <!--Moby Computers RIT-->
    <add key="Moby 1 RIT" value="192.168.131.41" />
    <add key="Moby 2 RIT" value="192.168.132.41" />
    <add key="Moby 3 RIT" value="192.168.133.41" />
    <add key="Moby 4 RIT" value="192.168.134.41" />
    <!--Xitron Rip-->
    <add key="Rip 1" value="192.168.130.21" />
    <add key="Rip 2" value="192.168.130.22" />
    <add key="Rip 3" value="192.168.130.23" />
    <add key="Rip 4" value="192.168.130.24" />
    <!--Gymea Computers QAMK-->
    <add key="Gymea 1 QAMK" value="192.168.130.111" />
    <add key="Gymea 2 QAMK" value="192.168.130.121" />
    <add key="Gymea 3 QAMK" value="192.168.130.131" />
    <add key="Gymea 4 QAMK" value="192.168.130.141" />
    <!--Gymea Computers RIT-->
    <add key="Gymea 1" value="192.168.130.111" />
    <add key="Gymea 2" value="192.168.130.121" />
    <add key="Gymea 3" value="192.168.130.131" />
    <add key="Gymea 4" value="192.168.130.141" />
    <!--QAMK Check Box-->
    <add key="qamk_check" value="1" />
    <add key="Gymea_Check" value="0" />
    <!--First Time Setup-->
    <add key="First_Time" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Stitching-->
    <add key="Stitching" value="False"/>
    <!--PC Names-->
    <add key="A1" value=""/>
    <add key="A2" value=""/>
    <add key="A3" value=""/>
    <add key="A4" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>