<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.11" targetFramework="net452" />
  <package id="Cassia" version="2.0.0.60" targetFramework="net452" />
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
</packages>